body {
  background-color: Black;
  text-align: center;
  img-align: center
}
h1 {
  color: blue;
}
h2 {
  color: yellow
}
h3 {
  color: green
}
p {
  color: red
}
img.resize {
  max-width: 50%;
  max-height: 50%;
}
ul {
  color: red;
  align: center;
  list-style-position: inside;
}
